$primary: #754747;
$secondary: #4a525a;
$white: #e0e1e2;
$black: #0b0c0d;
$gray: #404040;
$danger: #7f0f0f;
$success: #012301;
$warning: #b37703;
$info: #012345;
$dark: #03030f;
$body-bg: #cbcfd0;
$input-group-addon-bg: #c2bfbf;
$input-placeholder-color: #adb5bd;
$font-size-base: 0.8rem;
$border-radius: 0.2rem;
$border-radius-sm: 0.1rem;
$border-radius-lg: 0.25rem;
$list-group-item-padding-x: 1rem;
$list-group-action-active-bg: #f8f9fa;
$custom-checkbox-indicator-border-radius: 0.05rem;
$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$enable-validation-icons: true;
$enable-validation-icons: true;
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$enable-rounded: false;
$enable-hover-media-query: true;
$enable-gradients: true;
$enable-print-styles: true;
$enable-caret: false;
$enable-pointer-cursor-for-buttons: true;
